<div class="card">
  <h2 class="card-header text-white bg-primary">
      Marcianitos de la nave 
  </h2>
  <div fxLayoutAlign="start start">
      <ul class="list-group">
          <li class="list-group-item list-group-item-action" *ngFor="let martian of marcianitos">
              <div class="d-flex w-100 justify-content-between">
                  <h4 class="mb-1"><b>ID:</b> {{martian.idMarciano}}</h4>
                </div>
                <p class="mb-1"><b>Nombre:</b> {{martian.nombre}}</p>
          </li>
      </ul>
  </div>
</div>