<html>

<body>
    <form (ngSubmit)="crearRevision()" autocomplete="off">
        <div class="container">
            <h3>Crear Revisión</h3>
            <br>
            <div class="form-group">
                <label>Identificador</label>
                <input type="text" class="form-control" id="idRevision" [ngModel]="idRevision" placeholder="ID" required>
            </div>
            <div class="form-group">
                <label>Nombre del Revisor</label>
                <input type="text" class="form-control" id="nombreRevisor" [ngModel]="nombreRevisor" placeholder="Revisor" required>
            </div>
            <div class="form-group">
                <label>Identificador Aeronave</label>
                <input type="text" class="form-control" id="idAeronave" [ngModel]="idAeronave" placeholder="ID Aeronave" required>
            </div>
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" class="form-control" id="idFecha" [ngModel]="idFecha" placeholder="Fecha" required>
            </div>
            <div class="form-group">
                <div class="form-row float-right">
                    <div class="form-col">
                        <button class="btn btn-primary">Cancelar</button>
                    </div>
                    <div class="form-col">
                        <button type="submit" class="btn btn-primary ml-3">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>