<div>
    <form [formGroup]="crearRevisionForm" (ngSubmit)="crearRevision()" autocomplete="off">
        <div class="container">
            <h1>Crear revisión de aeronave</h1>
            <br>
            <div class="form-group">
                <label>Identificador</label>
                <input type="text" class="form-control" id="idRevAeronave" formControlName="idRevAeronave" placeholder="ID" required>
                <div>
                    <ng-container *ngFor="let error of errorMessages.idRevAeronave">
                        <div class="error-message alert alert-danger" *ngIf="crearRevisionForm.get('idRevAeronave').hasError(error.type) &&
                                      (crearRevisionForm.get('idRevAeronave').dirty || crearRevisionForm.get('idRevAeronave').touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="form-group">
                <label>Nombre Revisor</label>
                <input type="text" class="form-control" id="nombreRevisor" formControlName="nombreRevisor" placeholder="Nombre del revisor" required>
                <div>
                    <ng-container *ngFor="let error of errorMessages.nombreRevisor">
                        <div class="error-message alert alert-danger" *ngIf="crearRevisionForm.get('nombreRevisor').hasError(error.type) &&
                                      (crearRevisionForm.get('nombreRevisor').dirty || crearRevisionForm.get('nombreRevisor').touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="form-group">
                <label>Identificador de aeronave</label>
                <select class="custom-select mr-sm-2" id="idAeronave" formControlName="idAeronave" required>
                    <option *ngFor="let aeronave of this.aeronaves" value={{aeronave.id}}>{{aeronave.nombre}}</option>
                </select>
                <div>
                    <ng-container *ngFor="let error of errorMessages.idAeronave">
                        <div class="error-message alert alert-danger" *ngIf="crearRevisionForm.get('idAeronave').hasError(error.type) &&
                                      (crearRevisionForm.get('idAeronave').dirty || crearRevisionForm.get('idAeronave').touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="form-group">
                <label>Fecha de revisión</label>
                <input type="date" class="form-control" id="fecha" formControlName="fecha" required>
                <div>
                    <ng-container *ngFor="let error of errorMessages.fecha">
                        <div class="error-message alert alert-danger" *ngIf="crearRevisionForm.get('fecha').hasError(error.type) &&
                                      (crearRevisionForm.get('fecha').dirty || crearRevisionForm.get('fecha').touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row float-right">
                    <div class="form-col">
                        <button class="btn btn-primary" (click)="cancelar()">Cancelar</button>
                    </div>
                    <div class="form-col">
                        <button type="submit" class="btn btn-primary ml-3" [disabled]="!crearRevisionForm.valid">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>