<h1>Historial de revisiones</h1>
<div fxLayoutAlign="start start">
    <ul class="aerolist">
        <li *ngFor="let rev of revisiones" (click)="openDialog(rev)">
            <mat-card class="mat-card">
                <mat-card-title>ID: {{rev.id}} ─ Fecha: {{rev.fecha}}</mat-card-title>
                <mat-card-content> ─ Aeronave: {{rev.nombre}} ({{rev.idAeronave}})</mat-card-content>
            </mat-card>
            <ng-container *ngFor="let marcianos of marcianoHisto">
                <ul class="aerolist">
                    <li *ngIf="rev.id == marcianos.idRevision">
                        <mat-card class="mat-card">
                            <mat-card-title>ID: {{marcianos.idMarciano}} ─ Nombre: {{marcianos.nombre}}</mat-card-title>
                        </mat-card>
                    </li>
                </ul>
            </ng-container>
        </li>
    </ul>
</div>