<html>

<body>
    <form autocomplete="off">
        <div class="container">
            <h3>Asignar pasajero</h3>
            <br>
            <div class="form-group">
                <label>Identificador pasajero</label>
                <input type="text" class="form-control" id="idMarciano" placeholder="ID Marciano" required>
            </div>
            <div class="form-group">
                <label>Identificador Aeronave</label>
                <input type="text" class="form-control" id="idAeronave" placeholder="ID Aeronave" required>
            </div>
            <div class="form-group">
                <div class="form-row float-right">
                    <div class="form-col">
                        <button class="btn btn-primary">Cancelar</button>
                    </div>
                    <div class="form-col">
                        <button class="btn btn-primary ml-3">Asignar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>