<html>

<body>
    <form [formGroup]="subirMarcianoForm" (ngSubmit)="subirMarciano()" autocomplete="off">
        <div class="container">
            <h3>Asignar pasajero</h3>
            <br>
            <div class="form-group">
                <label>Identificador pasajero</label>
                <select class="custom-select mr-sm-2" id="idMarciano" formControlName="idMarciano" required>
                    <option *ngFor="let marciano of this.marcianos" value={{marciano.id}}>{{marciano.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Identificador Aeronave</label>
                <input type="text" class="form-control" id="idAeronave" formControlName="idAeronave" placeholder="ID Aeronave" required>
            </div>
            <div class="form-group">
                <div class="form-row float-right">
                    <div class="form-col">
                        <button class="btn btn-primary">Cancelar</button>
                    </div>
                    <div class="form-col">
                        <button type="submit" class="btn btn-primary ml-3">Asignar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>