.aerolist {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 25em;
  }
  
.aerolist li {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 2em;
    border-top-right-radius:50px;
    background-color: rgba(14, 70, 255, 0.205);
  }
.aerolist li:hover {
    color: #607D8B;
    background-color: rgba(43, 230, 255, 0.13);
    left: .1em;
  }
.aerolist li.selected {
    background-color: #CFD8DC;
    color: white;
  }
.aerolist li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
.aerolist {
    display: flex;
    flex-direction: column;
}
.aerolist > *:not(:last-child) {
    margin-bottom: 50px;
  }