<div>
    <form (ngSubmit)="crearAeronave()" autocomplete="off">
        <div class="container">
            <h3>Crear aeronave</h3>
            <br>
            <div class="form-group">
                <label>Identificador</label>
                <input type="text" class="form-control" id="idAeronave" formControlName="idAeronave" placeholder="ID" required>
            </div>
            <div class="form-group">
                <label>Nombre Aeronave</label>
                <input type="text" class="form-control" id="nombreAeronave" formControlName="nombreAeronave" placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <label>Máximo de marcianos</label>
                <input type="number" class="form-control" id="maxMarcianos" formControlName="maxMarcianos" placeholder="máx" required>
            </div>
            <div class="form-group">
                <label>Naves nodrizas</label>
                <div class="form-row">
                    <div class="col ml-3">
                        <label>Origen</label>
                        <select class="custom-select mr-sm-2" id="idOrigen" formControlName="idOrigen" required></select>
                    </div>
                    <div class="col ml-3">
                        <label>Destino</label>
                        <select class="custom-select mr-sm-2" id="idDestino" formControlName="idDestino" required></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row float-right">
                    <div class="form-col">
                        <button class="btn btn-primary">Cancelar</button>
                    </div>
                    <div class="form-col">
                        <button type="submit" class="btn btn-primary ml-3">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>