<html>

<body>
    <form (ngSubmit)="crearNavenodriza()" autocomplete="off">
        <div class="container">
            <h3>Crear Nave Nodriza</h3>
            <br>
            <div class="form-group">
                <label>Identificador</label>
                <input type="text" class="form-control" id="idNavenodriza" [ngModel]="idNavenodriza" placeholder="ID" required>
            </div>
            <div class="form-group">
                <label>Nombre Nave Nodriza</label>
                <input type="text" class="form-control" id="nombreNavenodriza" [ngModel]="nombreNavenodriza" placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <div class="form-row float-right">
                    <div class="form-col">
                        <button class="btn btn-primary">Cancelar</button>
                    </div>
                    <div class="form-col">
                        <button type="submit" class="btn btn-primary ml-3">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>