<html>

<body>
    <form [formGroup]="bajarMarcianoForm" (ngSubmit)="bajarMarciano()" autocomplete="off">
        <div class="container">
            <h3>Bajar pasajero</h3>
            <br>
            <div class="form-group">
                <label>Identificador pasajero</label>
                <select class="custom-select mr-sm-2" id="idMarciano" formControlName="idMarciano" required>
                    <option *ngFor="let marciano of this.marcianos" value={{marciano.id}}>{{marciano.nombre}}</option>
                </select>
                <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.idMarciano">
                        <div class="error-message alert alert-danger" *ngIf="bajarMarcianoForm.get('idMarciano').hasError(error.type) &&
                                      (bajarMarcianoForm.get('idMarciano').dirty || bajarMarcianoForm.get('idMarciano').touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="form-group">
                <label>Identificador Aeronave</label>
                <input type="text" class="form-control" id="idAeronave" formControlName="idAeronave" placeholder="ID Aeronave" required>
                <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.idAeronave">
                        <div class="error-message alert alert-danger" *ngIf="bajarMarcianoForm.get('idAeronave').hasError(error.type) &&
                                      (bajarMarcianoForm.get('idAeronave').dirty || bajarMarcianoForm.get('idAeronave').touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row float-right">
                    <div class="form-col">
                        <button class="btn btn-primary">Cancelar</button>
                    </div>
                    <div class="form-col">
                        <button class="btn btn-primary ml-3" [disabled]="!bajarMarcianoForm.valid">Bajar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>